<section class="team-section">
  <div class="team-group-text">
    <h3 class="team-team-heading">OUR TEAM</h3>
    <h2 class="team-team-subheading" style="color: black;">MEET OUR TEAM</h2>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-4 g-4">        
          <div class="container">
            <img
              src="https://www.redcross.org/content/dam/redcross/International-Services/Red-Crescent-Relieving-Human-Suffering-4.jpg.transform/1288/q82/feature/image.jpeg"
              alt="Avatar" class="image">
            <div class="overlay"><p class="team-para">Our Rescue Team</p></div>
          </div>
        


      </div>
    </div>
  </div>
</section>
