<section class="about-container-box">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6">
            <div class="parent">
              <div class="group-img">
                <img class="image2"
                  src="https://www.redcrossblood.org/content/dam/redcrossblood/african-american-blood-donors/12773-044.jpg.transform/1288/q82/feature/image.jpeg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h3 class="about-subtext">who we are</h3>
        <h4 class="about-maintext">
          EMERGENCY HEALTH PROGRAMME
        </h4>
        <p class="about-para">
          This is the preparedness and response actions of the Society for disasters that are health-facing in nature
          and similar tools and approaches that are health focused handled in alignment with the National, regional and
          county priorities, guidelines and policies Disaster Management endeavors to employ practical and innovative
          results-oriented solutions that are dynamically adapted to changing and evolving humanitarian and development
          needs.
        </p>
      </div>
    </div>
  </div>
</section>
<h2 style="text-align: center;color: red; padding-bottom: 40px;">WAYS TO HELP</h2>
<br><br><br><br>
