<div>

</div>
<section
  class="hero-section">
    <div class="overlay"></div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-7 group-text">
          <h2 class="hero-text-heading">SAVE A LIFE</h2>
          <hr class="horizontal-rule opacity-100" />
          <h2 class="hero-text-heading">DONATE BLOOD</h2>
          <hr class="horizontal-rule-2nd opacity-100" />
          <h3 class="hero-text-heading-small">One point of blood can save a life</h3>
          <Button class="hero-btn" style="color: white; background-color: red;">
            DONATE NOW
          </Button>
          <div class="col-md-4" style="color: red;">
            <h3>Emergency?<br>Call This Number</h3>
            <marquee behavior="alternate" derection="up" scrollamount="1" id="marquee" style="font-size:x-large ;">:- 999 / 112 / 911</marquee>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="circle"></div>
</section>
